<p>pessoaslist works!</p>


<table>
    <tr>
        <th>Nome:</th>
        <th>Idade:</th>
    </tr>

    <tr *ngFor="let pessoa of pessoas">
        <td>
            {{pessoa.nome}}
        </td>
        <td>
            {{pessoa.idade}}
        </td>
    </tr>
</table>

<button (click)="abrirModal(abc)" >Nova pessoa</button>
 


<ng-template #abc let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Modal title</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		
        <app-pessoasdetails (retorno)="addNaLista($event)" ></app-pessoasdetails>
            
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>
