<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Ano</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let carro of carros">
            <td>{{ carro.nome }}</td>
            <td>{{ carro.ano }}</td>
        </tr>
    </tbody>
</table>

<button (click)="abrirModal(abc)">Novo carro</button>

<ng-template #abc let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Modal title</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
        <app-carrosdetails (retorno)="addNaLista($event)"></app-carrosdetails>  
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>
